

* , *::before *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    border: none;
    :root{
        color dark:hsl(252 , 30%, 17%);

    }
    
}
body{
    font-family: "Poppings" sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;

}
.container{
    width: 80%;
    margin: 0 auto;
}
.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

}
img{
    display: blocks;
    width: 100%;

}
.btn{
    display: inline-block; 
    padding: var();
}
